@import '~office-ui-fabric-react/dist/sass/References.scss';
.result {
  .container {
    max-height: 400px;
    text-align: center;
  }
  
  .sectionTitle{
    @include ms-fontSize-xl;
    color:$ms-color-black;
    margin: 1rem 0;
  }

  .resultRow{
    margin-top: 10px;
  }

  .resultValue{
    font-weight: 600;
  }

  .country{
    font-weight: 500;
  }

  .countrySelect{
    width: 200px;
    text-align: center;
    margin: auto;
  }
}